<div class="container">
  <p>Producto</p>
  <div class="row">
    <div class="col-sm-6">
      <form>
        <div class="mb-3">
          <label class="form-label">Codigo</label>
          <input [(ngModel)]="producto.codigo" type="text" class="form-control" name="codigo" />
        </div>

        <div class="mb-3">
          <label class="form-label">Descripcion</label>
          <input [(ngModel)]="producto.descripcion" type="text" class="form-control" name="descripcion" />
        </div>

        <div class="mb-3">
          <label class="form-label">ListaDePrecios</label>
          <input [(ngModel)]="producto.listaDePrecios" type="text" class="form-control" name="listaDePrecios" />
        </div>

        <div class="mb-3">
          <label class="form-label">imagen</label>
          <input [(ngModel)]="producto.imagen" type="text" class="form-control" name="imagen" />
        </div>

        <div class="mb-3">
          <label class="form-label">productoParaLaVenta</label>
          <input [(ngModel)]="producto.productoParaLaVenta" type="text" class="form-control"
            name="productoParaLaVenta" />
        </div>
        <div class="mb-3">
          <label class="form-label">Porcentaje Iva</label>
          <input [(ngModel)]="producto.porcentajeIva" type="number" class="form-control" name="porcentajeIva" />
        </div>
        <button (click)="crearProducto()" class="btn btn-primary">Crear</button>
      </form>
    </div>
  </div>
</div>